# Pre-built libretro cores are not checked in (binary, large, license-sensitive).
# Drop the DLL here yourself, or set <CORE>_LIBRETRO_PATH to point at it.
# SHA256 of the canonical build is pinned in *.sha256 files alongside this.
*.dll
*.so
*.dylib
*.exe
*.bin
# ...except the Cult-of-GBA replacement BIOS (MIT licensed, safe to
# distribute). See LICENSE.Cult-of-GBA-BIOS for attribution and
# gba_bios_cleanroom.commit for the pinned upstream commit.
!gba_bios_cleanroom.bin
!gba_bios_cleanroom.sha256
!gba_bios_cleanroom.commit
!LICENSE.Cult-of-GBA-BIOS
